@-moz-document domain("golf.tv") {
/*
* Author        :  SilentFez
* URL           :  https://github.com/SilentFez/Userstyles
* Title         :  golftv - responsive player
* Version       :  0.0.2
*/	
h1.title {
    font-size: 20px !important;
}

.title-parent-container {
    margin: 0 !important;
    display: block !important;
    text-align: center;
}

diva-player {
    max-height: 86% !important;
    max-width: 86% !important;
}
}